*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

# Built-in caches & logs
*.log
*.tmp

# User-specific private data and large backup files
*backup*.json
*.keystore
*.jks
